@import url('https://fonts.googleapis.com/css2?family=WindSong&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Waiting+for+the+Sunrise&family=WindSong&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200&family=Waiting+for+the+Sunrise&family=WindSong&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200&family=Nunito:wght@200&family=Waiting+for+the+Sunrise&family=WindSong&display=swap');


*{
    margin: 0;
    padding: 0;
}

.logo-nav-background{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: rgb(179,255,249);
    background: linear-gradient(to right, rgba(179,255,249,1), rgba(255,179,246,0.9920343137254902), #ffffff, rgba(255,179,246,0.9920343137254902), rgba(179,255,249,1) );
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
    border: solid #6C4343 1px;
    border-radius: 30px; 
    box-shadow: 0px 10px 10px gray;
    margin-bottom: 20px;
    font-family: 'Waiting for the Sunrise', cursive;
    font-size: xx-large;
}

.logo-nav-background ul{
    margin-top: 0px;
    margin-bottom: 0px;
}

.container a{
    color: #6C4343;
}

.projeto{
    font-family: 'WindSong', cursive;
    text-align: center;
    font-size: 40px;
    color: #6C4343;
    width: 600px;
    margin-left: 70px;
}

.transformar{
    font-family: 'Waiting for the Sunrise', cursive;
    text-align: center;
    font-size: 100px;
    height: 130px;
    color: #6C4343;
    margin-top: -40px;
}

.container ul{
    display: flex;
    list-style-type: none; 
    justify-content: space-around;
    padding-left: 0px;
    color: #6C4343;
}

.container a{
    text-decoration: none;
}

.container-section{
    background-color: #c4c4c4;
    display: flex;
    width: 800px;
    flex-wrap: wrap;
    grid-gap: 70px;
    justify-content: center;
    align-items: center;
    padding-top: 70px;
    padding-bottom: 70px;
    border: solid #6C4343 1px;
}

section{
    display: flex;
    width: 1200px;
    margin-right: auto;
    margin-left: auto;
    grid-gap: 20px;
}

.noticias{
    width: 300px;
}

#divBusca{
    background-color:white;
    border:solid 1px;
    border-radius:10px;
    height: 35px;
}
  
#txtBusca{
    float:left;
    background-color:transparent;
    padding-left:5px;
    font-style:italic;
    font-size:18px;
    border:none;
    height:32px;
}


.container-section-right{
    display: flex;
    flex-direction: column;
    width: 400px;
}

.login{
    display: flex;
    flex-direction: column;
    align-items: center;
    grid-gap: 15px;
    background: rgb(179,255,249);
    background: linear-gradient(90deg,rgba(179,255,249,1) 100%);
    margin-top: 40px;
    padding-bottom: 40px;
    border: #6C4343 solid 1px;
    border-radius: 30px;
}   


.nome-login{
    font-family: 'Waiting for the Sunrise', cursive;
    font-size: 60px;
    padding-top: -50px;
}

.entrar input{
    width: 210px;
    height: 30px;
    font-family: verdana;
    background-color: rgba(255,179,246,0.9920343137254902);
}

.criar input{
    width: 210px;
    height: 30px;
    font-family: verdana;
    color: white;
    background-color: #ff0000;
}

.face input{
    width: 210px;
    height: 30px;
    font-family: verdana;
    color: white;
    background-color: #4267B2;
}

.login-email{
    height: 32px;
    
}

footer{
    background-color: #c4c4c4;
    height: 100px;
    margin-top: 20px;
    border: 1px solid black ;
}

.nav-footer ul{
    list-style: none;
    height: 100px;
    display: flex;
    width: 50%;
    margin-left: auto;
    justify-content: space-around;
    align-items: center;
}

#container-left-quemSomos{
    width: 60%;
}

.banner{
    background-color: rgb(179,255,249);
    font-size: 50px;
    font-family: 'Nunito', sans-serif;
    border: 1px solid black;
    border-radius: 30px;
    padding-left: 30px;
}

.text{
    font-family: 'Inter', sans-serif;
    margin-top: 30px;
}

#container-right-quemSomos{
    background-color: #c4c4c4;
    height: 600px;
    width: 40%;
}

#noticias-destaque{
    width: 60%;
}

#noticia-principal{
    color: white;
    width: 700px;
    height: 300px;
    background-image: url(/assets/img1.webp);
    background-size: cover;
    background-position: center;
}

#tema-noticia-principal{
    padding: 10px;
}


#titulo-subt-principal{
    margin-left: 20px;
}